ul.j-select-ul li {
    height: 44px;
    line-height: 44px;
    list-style: none;
    border-bottom: 1px solid #efefef;
    padding-left: 20px;
    font-size: 14px;
    position: relative;
}
.j-select-jroll {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 18px 15px;
  border-radius: 2px;
  background: #fff;
  height: 50%;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: transform 200ms;
  transition: transform 200ms;
}
.j-select-jroll.j-select-show {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.j-select-jroll-wrapper {
  width: 100%;
  height: 100%;
}
.j-select-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.j-select-active {
  position: relative;
}
.j-select-active::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 17px;
  display: block;
  border: 2px solid;
  width: 5px;
  height: 5px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.j-select-more-up {
  position: absolute;
  border: 2px solid #e1e1e1;
  width: 10px;
  height: 10px;
  left: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}
.j-select-more-down {
  position: absolute;
  border: 2px solid #e1e1e1;
  width: 10px;
  height: 10px;
  left: 50%;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 7px;
}