<style>
  this {
    position: relative;
  }
  this.j-input-haslabel {
    padding-top: 26px;
  }
  .j-input-placeholder {
    position: absolute;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    color: #aeaeae;
    opacity: 1;
    transition: 300ms;
    left: 10px;
  }
  .j-input-placeholder.focus {
    opacity: 0;
  }
  .j-input {
    position: relative;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    width: 100%;
    height: 34px;
    line-height: 26px;
    padding: 4px 10px;
    font-size: 14px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    resize: none;
    overflow: auto;
  }
  .j-input:disabled {
    border-color: #d7dde4;
    color: #c3cbd6;
    border-style: dashed;
  }
  .j-input.j-input-ios:disabled {
    color: #6f6f6f!important;
  }
  .j-input-line {
    position: relative;
    top: -2px;
    height: 2px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform .45s cubic-bezier(.23,1,.32,1);
    transition: transform .45s cubic-bezier(.23,1,.32,1);
  }
  .j-input-line.focus {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  .j-input-label-float {
    -webkit-transform: translate(0px, -24px) scale(.75)!important;
    transform: translate(0px, -24px) scale(.75)!important;
  }
  .j-input-label-color {
    color: #757575;
  }
  .j-input-label {
    position: absolute;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: -webkit-transform 300ms;
    transition: transform 300ms;
    -webkit-transform: translate(10px, 0px) scale(1);
    transform: translate(10px, 0px) scale(1);
  }
  .j-input-label-disabled {
    color: #c3cbd6!important;
  }
  .j-input-hidden {
    visibility: hidden;
    position: absolute;
    z-index: -1;
  }
</style>
<div :class="{'j-input-haslabel': label}">
  <div class="j-input-placeholder" :class="holderObject">{{placeholder}}</div>
  <div class="j-input-label" :class="labelObject">{{label}}</div>

  <input v-if="!multiLine" class="j-input" @focus="onFocus" @blur="onBlur" @input="onInput" @change="onChange"
    :value="inputValue" :name="name" :type="type" :disabled="disabled" :class="inputObject">

  <textarea v-if="multiLine" class="j-input j-input-hidden" :value="inputValue"
    ref="hiddenTextArea"></textarea>
  <textarea v-if="multiLine" class="j-input" @focus="onFocus" @blur="onBlur" @input="onInput" @change="onChange"
    :value="inputValue" :name="name" :disabled="disabled" ref="textArea" :class="inputObject"></textarea>

  <div class="j-input-line j-bg-primary" :class="{focus: focused}"></div>
</div>