<style>
  .j-loader-hidden {
    display: none!important;
  }
  
  .j-loader-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999
  }
  
  .j-loader-box {
    background: rgba(0, 0, 0, .8);
    border-radius: 6px;
    padding: 15px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    max-width: 60%
  }
  
  .j-loader-box p {
    text-align: center;
    color: #fff;
    padding-top: 10px;
    margin: 0;
    font-size: 15px
  }
  
  .j-loader-loading {
    width: 32px;
    height: 32px;
    margin: 0 auto;
    position: relative;
    color: #fff;
    -webkit-animation: j-loader 1.1s infinite step-start;
    animation: j-loader 1.1s infinite step-start
  }
  
  .j-loader-loading span {
    width: 3px;
    height: 8px;
    display: block;
    position: absolute;
    top: 0;
    left: 15px;
    background: #fff;
    border-radius: 3px;
    -webkit-transform-origin: 1px 16px;
    transform-origin: 1px 16px
  }
  
  @-webkit-keyframes j-loader {
    0%,
    100% {
      -webkit-transform: rotateZ(0deg)
    }
    91.66% {
      -webkit-transform: rotateZ(-30deg)
    }
    83.33% {
      -webkit-transform: rotateZ(-60deg)
    }
    75% {
      -webkit-transform: rotateZ(-90deg)
    }
    66.66% {
      -webkit-transform: rotateZ(-120deg)
    }
    58.33% {
      -webkit-transform: rotateZ(-150deg)
    }
    50% {
      -webkit-transform: rotateZ(-180deg)
    }
    41.66% {
      -webkit-transform: rotateZ(-210deg)
    }
    33.33% {
      -webkit-transform: rotateZ(-240deg)
    }
    25% {
      -webkit-transform: rotateZ(-270deg)
    }
    16.66% {
      -webkit-transform: rotateZ(-300deg)
    }
    8.33% {
      -webkit-transform: rotateZ(-330deg)
    }
  }
  
  @keyframes j-loader {
    0%,
    100% {
      transform: rotateZ(0deg)
    }
    91.66% {
      transform: rotateZ(-30deg)
    }
    83.33% {
      transform: rotateZ(-60deg)
    }
    75% {
      transform: rotateZ(-90deg)
    }
    66.66% {
      transform: rotateZ(-120deg)
    }
    58.33% {
      transform: rotateZ(-150deg)
    }
    50% {
      transform: rotateZ(-180deg)
    }
    41.66% {
      transform: rotateZ(-210deg)
    }
    33.33% {
      transform: rotateZ(-240deg)
    }
    25% {
      transform: rotateZ(-270deg)
    }
    16.66% {
      transform: rotateZ(-300deg)
    }
    8.33% {
      transform: rotateZ(-330deg)
    }
  }
  
  .j-loader-close {
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 24px;
    background: rgba(0, 0, 0, .75);
    border: 5px solid transparent;
    border-radius: 100%;
    right: -12px;
    top: -12px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg)
  }
  
  .j-loader-close:before {
    content: "";
    height: 2px;
    width: 100%;
    background: #fff;
    display: block;
    position: absolute;
    top: 6px;
    left: 0;
    border-radius: 2px
  }
  
  .j-loader-close:after {
    content: "";
    height: 100%;
    width: 2px;
    background: #fff;
    display: block;
    position: absolute;
    top: 0;
    left: 6px;
    border-radius: 2px
  }
</style>
<div>
</div>