<style>
  .show-menu {
    font-size: 24px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
  }
  .home-body {
    padding: 0 20px 20px;
  }
  .home-menu-title {
    font-size: 14px;
    padding: 20px 0 10px 0;
  }
  .home-menus {
    display: block;
    margin-bottom: 5px;
  }
</style>
<div>
  <j-appbar title="JTaro UI">
    <j-button
      @action="toggleSideBar"
      slot="left"
      type="text"
      round="1"
      width="44"
      height="44"
      class="j-icon-menu show-menu"
    ></j-button>
  </j-appbar>

  <j-body class="home-body">
    <div v-for="(m, i) in menus" :key="i">
      <div class="home-menu-title j-color-primary">{{m.type}}</div>
      <j-button class="home-menus" v-for="(c, j) in m.children"
        :type="c.url ? '' : 'disabled'"
        @action="gotoSubPage(c.url)"
        :key="j"
        width="100%">{{ c.name }}</j-button>
    </div>
  </j-body>

  <j-sidebar :show="show" @action="toggleSideBar">
    <j-appbar title="关于 JTaro UI"></j-appbar>
    <j-body>
      <div style="padding-top:100px;text-align:center;">Hello JTaro UI</div>
    </j-body>
  </j-sidebar>
</div>