<style>
  .demo-body {
    padding: 15px;
  }
  .demo-radio {
    display: block;
    margin-top: 10px;
  }
  .demo-radio-title {
    padding: 20px 0 0;
  }
</style>
<div>
  <DemoHeader title="单选" />

  <j-body class="demo-body">
    <div class="demo-radio-title">当前值：{{ value }}</div>
    <j-radio v-model="value" label="单选 1" val="1" class="demo-radio" />
    <j-radio v-model="value" label="单选 2" val="2" class="demo-radio" />

    <div class="demo-radio-title">无默认值：{{ value2 }}</div>
    <j-radio v-model="value2" label="另一组 1" val="1" class="demo-radio" />
    <j-radio v-model="value2" label="另一组 2" val="2" class="demo-radio" />

    <div class="demo-radio-title">不可用：</div>
    <j-radio v-model="value3" label="已选中不可用" val="1" class="demo-radio" disabled/>
    <j-radio label="未选中不可用" class="demo-radio" disabled/>
  </j-body>
</div>
