/* define font */
@font-face {
    font-family: 'jtaro-ui';
    src: url('./iconfont.eot');
    src: url('./iconfont.eot?#iefix') format('embedded-opentype'),
         url('./iconfont.woff') format('woff'),
         url('./iconfont.ttf') format('truetype'),
         url('./iconfont.svg#allerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* reset html tag */
html { width: 100%; height: 100%; -webkit-text-size-adjust: none;}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body { width: 100%; font-family: inherit; -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; font-style: normal; background-color: #fff; word-wrap: break-word; word-break: break-word;}

input {
    word-wrap: normal;
    word-break: normal;
}

a { text-decoration: none; background: none;}

div, a, button, input, textarea { outline: none; -webkit-tap-highlight-color: transparent; }

/* icon */
[class*="j-icon-"],
.j-icon {
    font-family: "jtaro-ui" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.j-icon-menu:before { content: "\e60b"; }

.j-icon-github:before { content: "\e6c5"; }

.j-icon-right:before { content: "\e620"; }

.j-icon-up:before { content: "\e63c"; }

.j-icon-down:before { content: "\e63d"; }

.j-icon-left:before { content: "\e63e"; }


/* color */
/* 主题背景颜色 */
.j-bg-weaken {
  background: #80CBC4;
}
.j-bg-primary {
  background: #009688;
}
.j-bg-deepen {
  background: #00695C;
}

/* 一般背景颜色 */
.j-bg-gray {
  background: #EEEEEE;
}
.j-bg-dark-gray {
  background: #BDBDBD;
}

/* 与背景色相辅的字体颜色 */
.j-font-primary {
  color: #fff;
}
.j-font-second {
  color: #E0F2F1;
}

/* 主题文本颜色 */
.j-color-weaken {
  color: #80CBC4;
}
.j-color-primary {
  color: #009688;
}
.j-color-deepen {
  color: #00695C;
}

/* 一般文本颜色 */
.j-text-weakest {
  color: #E0E0E0;
}
.j-text-weaken {
  color: #9E9E9E;
}
.j-text-second {
  color: #424242;
}
.j-text-primary {
  color: #212121;
}
.j-text-deepen {
  color: #000;
}

/* 边框颜色 */
.j-border-weaken {
  border-color: #80CBC4;
}
.j-border-primary {
  border-color: #009688;
}
.j-border-deepen {
  border-color: #00695C;
}

/* 栅格 */
.j-row-10,
.j-row-12 {
    width: 100%;
    box-sizing: border-box;
}

.j-row-10:after,
.j-row-12:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}

.j-row-10 > [class*="col-"],
.j-row-12 > [class*="col-"] {
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

.j-row-10 > .j-col-1 {
    width: 10%;
}

.j-row-10 > .j-col-2 {
    width: 20%;
}

.j-row-10 > .j-col-3 {
    width: 30%;
}

.j-row-10 > .j-col-4 {
    width: 40%;
}

.j-row-10 > .j-col-5 {
    width: 50%;
}

.j-row-10 > .j-col-6 {
    width: 60%;
}

.j-row-10 > .j-col-7 {
    width: 70%;
}

.j-row-10 > .j-col-8 {
    width: 80%;
}

.j-row-10 > .j-col-9 {
    width: 90%;
}

.j-row-10 > .j-col-10 {
    width: 100%;
}

.j-row-12 > .j-col-1 {
    width: 8.333333%;
}

.j-row-12 > .j-col-2 {
    width: 16.666666%;
}

.j-row-12 > .j-col-3 {
    width: 25%;
}

.j-row-12 > .j-col-4 {
    width: 33.333333%;
}

.j-row-12 > .j-col-5 {
    width: 41.666666%;
}

.j-row-12 > .j-col-6 {
    width: 50%;
}

.j-row-12 > .j-col-7 {
    width: 58.333333%;
}

.j-row-12 > .j-col-8 {
    width: 66.666666%;
}

.j-row-12 > .j-col-9 {
    width: 75%;
}

.j-row-12 > .j-col-10 {
    width: 83.333333%;
}

.j-row-12 > .j-col-11 {
    width: 91.666666%;
}

.j-row-12 > .j-col-12 {
    width: 100%;
}

/* 涟漪 */
.j-ripple {
    width: 1px;
    height: 1px;
    background: rgba(0,0,0,.15);
    border-radius: 100%;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    transition-timing-function: ease-out
}
