/* reset html tag */
html { width: 100%; height: 100%; -webkit-text-size-adjust: none;}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body { width: 100%; font-family: inherit; -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; font-style: normal; background-color: #fff; word-wrap: break-word; word-break: break-word;}

input {
    word-wrap: normal;
    word-break: normal;
}

a { text-decoration: none; background: none;}

li {list-style: none;}

div, a, button, input, textarea { outline: none; -webkit-tap-highlight-color: transparent; -webkit-appearance: none;}

/* 栅格 */
.j-row-10,
.j-row-12 {
    width: 100%;
    box-sizing: border-box;
}

.j-row-10:after,
.j-row-12:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}

.j-row-10 > [class*="col-"],
.j-row-12 > [class*="col-"] {
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

.j-row-10 > .j-col-1 {
    width: 10%;
}

.j-row-10 > .j-col-2 {
    width: 20%;
}

.j-row-10 > .j-col-3 {
    width: 30%;
}

.j-row-10 > .j-col-4 {
    width: 40%;
}

.j-row-10 > .j-col-5 {
    width: 50%;
}

.j-row-10 > .j-col-6 {
    width: 60%;
}

.j-row-10 > .j-col-7 {
    width: 70%;
}

.j-row-10 > .j-col-8 {
    width: 80%;
}

.j-row-10 > .j-col-9 {
    width: 90%;
}

.j-row-10 > .j-col-10 {
    width: 100%;
}

.j-row-12 > .j-col-1 {
    width: 8.333333%;
}

.j-row-12 > .j-col-2 {
    width: 16.666666%;
}

.j-row-12 > .j-col-3 {
    width: 25%;
}

.j-row-12 > .j-col-4 {
    width: 33.333333%;
}

.j-row-12 > .j-col-5 {
    width: 41.666666%;
}

.j-row-12 > .j-col-6 {
    width: 50%;
}

.j-row-12 > .j-col-7 {
    width: 58.333333%;
}

.j-row-12 > .j-col-8 {
    width: 66.666666%;
}

.j-row-12 > .j-col-9 {
    width: 75%;
}

.j-row-12 > .j-col-10 {
    width: 83.333333%;
}

.j-row-12 > .j-col-11 {
    width: 91.666666%;
}

.j-row-12 > .j-col-12 {
    width: 100%;
}

/* tools */
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
