/* color */
/* 主题背景颜色 参考 material design color */
.j-bg-weaken {
  background: #B39DDB; /* 200 */
}
.j-bg-primary {
  background: #673AB7; /* 500 */
}
.j-bg-deepen {
  background: #4527A0; /* 800 */
}

/* 一般背景颜色 */
.j-bg-gray {
  background: #EEEEEE;
}
.j-bg-dark-gray {
  background: #BDBDBD;
}

/* 与背景色相辅的字体颜色 */
.j-font-primary {
  color: #fff;
}
.j-font-second {
  color: #EDE7F6; /* 50 */
}

/* 主题文本颜色 */
.j-color-weaken {
  color: #B39DDB;
}
.j-color-primary {
  color: #673AB7;
}
.j-color-deepen {
  color: #4527A0;
}

/* 一般文本颜色 */
.j-text-weakest {
  color: #E0E0E0;
}
.j-text-weaken {
  color: #9E9E9E;
}
.j-text-second {
  color: #424242;
}
.j-text-primary {
  color: #212121;
}
.j-text-deepen {
  color: #000;
}

/* 边框颜色 */
.j-border-weaken {
  border-color: #B39DDB;
}
.j-border-primary {
  border-color: #673AB7;
}
.j-border-deepen {
  border-color: #4527A0;
}
